<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<main class="min-h-screen">
			<slot />
		</main>
        <div class='sticky bottom-0 left-0 bg-white'>
			Created by: <a href="https://abdlrahman-l.github.io/" class="text-sky-500 underline">Abdul Rahman</a>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
